
<div class="home">
	<div class="home__inner">

		<h2 class="home__title">Regular expressions are awesome, but tough.</h2>
		<p class="home__body">
			It's not very difficult to learn a couple of RegEx basics,
			but it can get really complex once you dive into it more
			deeply because there are often many different options to
			get the same result.
		</p>

		<ul class="home__navigation">
			<li class="home__navigation__item"><a routerLink="/re" class="home__navigation__link">start here</a></li>
			<li class="home__navigation__item"><a routerLink="/demos" class="home__navigation__link">demos</a></li>
			<li class="home__navigation__item"><a routerLink="/thanks" class="home__navigation__link">thanks</a></li>
		</ul>

	</div>
</div>
