
<div class="thanks">
	<div class="thanks__inner">

		<h2 class="thanks__title">Special thanks to...</h2>
		<div class="thanks__body wysiwyg">

			<p>
				<a href="https://gskinner.com/" target="_blank">Grant Skinner</a>, with his tool <a href="http://regexr.com" target="_blank">regexr.com</a>
				which helped me learn regular expressions in the past. <a href="http://regexr.com" target="_blank">Regexr.com</a> is still the place
				to be for me to start my regular expressions. Thanks, man!
			</p>
			<p>
				<a href="http://www.thesedays.com" target="_blank">These Days</a>, the company I work for, for giving me the opportunity to enhance my skills
				over all those years!
			</p>
			<p>
				Everyone online who posts great regular expressions, or whoever helps others to advance in regular expressions.
			</p>
			<p>
				Cheers,<br />
				Stijn Van Minnebruggen<br />
				<br />
				<a href="http://www.donotfold.be" target="_blank">donotfold.be</a> — <a href="http://twitter.com/donotfold" target="_blank">@donotfold</a>
			</p>

		</div>

	</div>
</div>
